

<div id="authorize-div" style="">
  <span>Authorize access to Google Calendar API</span>
  <!--Button for the user to click to initiate auth sequence -->
  <button id="authorize-button" onclick="handleAuthClick(event)">
    Authorize
  </button>
</div>
<div class="event"></div>

